In [21]:
import pandas as pd
import numpy as np
df = pd.read_csv('Documents/dataset/anime_subdata.csv')

In [22]:
def seg_nos(s):
    s = str(s)
    if ',' in s:
        s = s.split(',')
        return s[1]
    elif ' ' in s:
        s = s.split()
        return s[1]
    else:
        return s
df['location'] = df['location'].apply(seg_nos)

In [23]:
df.loc[:,'location']

0         India
1         Manila
2       Michigan
3         Mexico
4            nan
         ...
144    Indonesia
145          nan
146      Florida
147      England
148        don't
Name: location, Length: 149, dtype: object

In [24]:
df['location'] = df['location'].replace(to_replace='~', value='',regex=True)
df['location'] = df['location'].replace(to_replace='-', value='',regex=True)

hello adimanx

In [28]:
df['location'].apply(lambda a : a + '      adimanx')

0         India       adimanx
1         Manila      adimanx
2       Michigan      adimanx
3         Mexico      adimanx
4            nan      adimanx
                ...
144    Indonesia      adimanx
145          nan      adimanx
146      Florida      adimanx
147      England      adimanx
148        don't      adimanx
Name: location, Length: 149, dtype: object

In [33]:
s = 'U A'
if s == 'U A':
    print('it works')

it works